<header>
    <nav class="navbar navbar-expand-lg bg-body-back shadow-sm">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img class="logo" src="img/Logo.png" alt="logo"></a>
            <div class="d-flex flex-column">  
                <div>
                    <button class="navbar-toggler border border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSearchBar" aria-controls="navbarSearchBar" aria-expanded="false" aria-label="Toggle navigation">
                        <span><img src="img/searchIcon.svg" alt=""></span>
                    </button>
                    <button class="navbar-toggler border border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <!-- search bar -->
                <div class="d-flex flex-column justify-content-end">
                    <div class="collapse navbar-collapse mt-3 mt-lg-0 mb-lg-3" id="navbarSearchBar">
                        <form class="mx-3 d-flex flex-row" role="search">
                            <input type="text" [(ngModel)]="searchText" name="searchText" class="form-control border-bottom border-border h-2" placeholder="tapez votre recherche" aria-label="Search">
                            <button (click)="newSearch()" class="border border-0 "><img class="bg-body-back" src="img/searchIcon.svg" alt="search icon"></button>
                        </form>
                    </div>
                    
                    <!-- categories -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="d-flex flex-column flex-lg-row mt-4 mt-lg-0">
                            <button type="button" class="btn bg-border text-white rounded-pill mx-3 my-3" (click)="selectCategory('Bâtiment')">Bâtiment</button>
                            <button type="button" class="btn bg-border text-white rounded-pill mx-3 my-3" (click)="selectCategory('Services')">Services</button>
                            <button type="button" class="btn bg-border text-white rounded-pill mx-3 my-3" (click)="selectCategory('Fabrication')">Fabrication</button>
                            <button type="button" class="btn bg-border text-white rounded-pill mx-3 my-3" (click)="selectCategory('Alimentation')">Alimentation</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
