<header>
    <nav class="navbar navbar-expand-lg bg-body-back shadow-sm">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img class="logo" src="img/Logo.png" alt="logo"></a>
            <div class="d-flex flex-column ">  
                <div>
                    <button class="navbar-toggler border border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSearchBar" aria-controls="navbarSearchBar" aria-expanded="false" aria-label="Toggle navigation">
                        <span><img src="img/searchIcon.svg" alt=""></span>
                    </button>
                    <button class="navbar-toggler border border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="d-flex flex-column justify-content-end">
                    <div class="collapse navbar-collapse mt-3 mt-lg-0 mb-lg-3" id="navbarSearchBar">


                        <form class="mx-3 d-flex flex-row" role="search">
                            <input type="search" class="form-control border-bottom border-border h-2" placeholder="tapez votre recherche ici" aria-label="Search">
                            <button type="submit" class="border border-0 "><img class="bg-body-back" src="img/searchIcon.svg" alt="search icon"></button>
                        </form>


                    </div>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mt-2">
                            <li class="nav-item mx-3 my-3 my-lg-0">
                                <a href="" class="text-decoration-none text-light bg-border rounded-pill py-1">Batiment</a>
                            </li>
                            <li class="nav-item mx-3 my-3 my-lg-0">
                                <a href="" class="text-decoration-none text-light bg-border rounded-pill py-1">Services</a>
                            </li>
                            <li class="nav-item mx-3 my-3 my-lg-0">
                                <a href="" class="text-decoration-none text-light bg-border rounded-pill py-1">Fabrication</a>
                            </li>
                            <li class="nav-item mx-3 my-3 my-lg-0">
                                <a href="" class="text-decoration-none text-light bg-border rounded-pill py-1">Alimentation</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
