<div class="footer">
    <div class="bg-border">
        <!-- logo -->
        <img class="logo bg-light border rounded border-light" src="img/Logo.png" alt="Logo">
        <div class="d-flex flex-column flex-md-row">
            <div class="d-flex flex-row flex-md-column">
                <address>
                    101 cours Charlemagne <br />
                    CS 20033 <br />
                    69269 Lyon <br />
                    France
                </address>
                <address>
                    <a href="tel:+330426734000" class="text-decoration-none text-light">+33 04 26 73 40 00</a>
                </address>
            </div>
            <div>
                <div class="d-flex flex-row justify-content-center">
                    <div class="d-flex flex-column align-items-center mx-auto">
                        <div>
                            <a href="" class="text-decoration-none text-light">Mentions légales</a>
                        </div>
                        <div>
                            <a href="" class="text-decoration-none text-light">Accessibilité</a>
                        </div>
                    </div>
                    <div class="d-flex flex-column align-items-center mx-auto">
                        <div>
                            <a href="" class="text-decoration-none text-light">Données personnelles</a>
                        </div>
                        <div>
                            <a href="" class="text-decoration-none text-light">Gestion des cookies</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- social -->
    <div>
        Hello
    </div>
<div>

