<footer class="">
    <div class="bg-border py-5">
        <!-- logo -->
        <img class="logo bg-light border rounded border-light" src="img/Logo.png" alt="Logo">
        <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-md-around justify-content-lg-evenly">
            <div class="d-flex flex-row flex-md-column flex-lg-row align-items-center align-items-md-start align-items-lg-center justify-content-lg-between mx-auto mx-md-1 mt-5 ">
                <!-- adress -->
                <address class="text-light pe-5">
                    101 cours Charlemagne <br />
                    CS 20033 <br />
                    69269 Lyon <br />
                    France
                </address>
                <address>
                    <a href="tel:+330426734000" class="text-decoration-none text-light">+33 04 26 73 40 00</a>
                </address>
            </div>

            <div class="line bg-light align-self-center my-3" ></div>

            <!-- legal mentions -->
            <div>
                <div class="d-flex flex-row justify-content-center column-gap-5">
                    <div class="d-flex flex-column align-items-center mx-auto gap-3">
                        <div>
                            <a href="" class="text-decoration-none text-light">Mentions légales</a>
                        </div>
                        <div>
                            <a href="" class="text-decoration-none text-light">Accessibilité</a>
                        </div>
                    </div>
                    <div class="d-flex flex-column align-items-center mx-auto gap-3">
                        <div>
                            <a href="" class="text-decoration-none text-light">Données personnelles</a>
                        </div>
                        <div>
                            <a href="" class="text-decoration-none text-light">Gestion des cookies</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- social -->
    <div class="py-2">
        <app-social />
    </div>
</footer>

