.iconGradient{
    background: linear-gradient(to right, orange, orange 70%, white, white 30%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}