<!-- Display artisan informations -->
@if (artisan) {
    <div class="container">
        <div class="row my-lg-5">
            <div class="col-12 col-lg-6 artisanInfo mt-5 mb-3 mt-lg-0 ms-lg-0 ">
                <div>
                    <h5 class="fs-2 fw-bold text-title"> {{ artisan.name }} </h5>
                    <div class="mb-3">
                        <app-star-rating  rating="{{ artisan.note }}" />
                    </div>
                    <p class="mb-3">{{ artisan.specialty }}</p>
                    <p class="mb-3">{{ artisan.location }}</p>
                    @if (artisan.website){
                        <a href='{{ artisan.website }}'>{{ artisan.website }}</a>
                    }
                </div>
            </div>
            <div class="about col-12 col-lg-6 mx-lg-0 mb-5 mb-lg-0">
                <h5 class="fs-3 fw-semibold">A propos</h5>
                <div class="bg-back border border-1 border-border rounded-4 px-3 py-2">
                    <p>{{ artisan.about }}</p>
                </div>
            </div>
        </div>
    </div>
}
<div class="container">
    <div class="bg-redLine mb-5 " style="height: 7px; width: 27px"></div>
</div>

<!-- Contact form -->
<div class="container">
    <div class="form">
        <h5 class="fs-2 fw-bold text-title">Contact</h5>
        <form  (ngSubmit)="onSubmit($event)" novalidate>
            <div class="d-flex flex-column flex-md-row justify-content-md-between mt-2">
                <input class="mb-4 ps-3 py-1 bg-back border border-1 border-border rounded-4" type="text" name="user_firstname" required placeholder="Prénom">
                <input class="mb-md-4 ps-3 py-1 bg-back border border-1 border-border rounded-4" type="text" name="user_lastname" required placeholder="Nom">
            </div>
            <div class="d-flex flex-column mt-4 mt-md-0 py-1">
                <input class="mb-4 ps-3 py-1 bg-back border border-1 border-border rounded-4" type="mail" name="user_email" required placeholder="Mail">
                <input class="mb-4 ps-3 py-1 bg-back border border-1 border-border rounded-4" type="text" name="object" required placeholder="Objet">
                <textarea class="mb-4 ps-3 bg-back border border-1 border-border rounded-4" name="message" required placeholder="Message"></textarea>
                <button class="mb-4 text-white bg-border border border-1 border-border rounded-4" type="submit">Envoyez</button>
            </div>
        </form>
    </div>
</div>