<div>
    <div class="howToUse">
        <h1>Comment utiliser le site?</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <p>1. Trouvez ce que vous cherchez avec la recherche ou les categories.</p>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <p>2. Choisissez l'artisan qui correspond a vos besoins.
                    </p>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <p>3. Contactez l'artisan a l'aide du formulaire fourni ou directement sur son s'il en possede un.</p>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <p>4. L'artisan vous repondra dans les 48h apres l'envoie de votre message.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bestArtisans">
        <h1>Nos meilleurs artisans du mois</h1>
        <app-best-artisan />
    </div>
</div>
